.userList {
    flex: 4;
    height: 500px;
}

.userListUser {
    display: flex;
    align-items: center;
}

.userBtnContainer {
    margin-bottom: 12px;
}

.userListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}


.userListDelete {
    color: red;
    cursor: pointer;
}
